# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtualenv
vdms/
venv/
.venv/

# Django
*.log
db.sqlite3
staticfiles/
media/*
!media/acquisition_reports/

# Environment
.env

# Editor / OS
.DS_Store
.vscode/
.idea/
